# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Streamlit
.streamlit/
*.log

# Output ZIPs and outputs
Visualisasi_Tokopedia.zip
